@import "../Helpers/variable";
@import "../Helpers/mixins";
@import "../Helpers/global";
@import "../Layouts/navbar";
@import "../Layouts/links";
.book-page{
     .book-img{
        img{
            width: 100%;
            margin-left: auto;
        }
    }
    .book-content{
        h2{
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            span{
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}